<div class="container" style="width:40vw;">
<br/>
<h1>Editing Task</h1> <br/>

<%= render 'form', task: @task %>
<br/>
<%= link_to 'Back', project_tasks_path(@project), class: "btn btn-dark"  %>
</div>