<p>
  <strong>Task:</strong>
  <%= @attachment.task.title %>
</p>

<div>
    <% @attachment.uploads.each do |upload| %>
        <div>
            <%= image_tag upload %>
        </div>
    <% end %>
</div>

<%= link_to 'Edit', edit_task_attachment_path(@task, @attachment) %> |
<%= link_to 'Back', task_attachments_path(@task) %>
